.bg-yellow {
  background-color: #fec016;
}
.border-bottom-dark {
  border-bottom: 1px solid rgba(41, 41, 41, 1);
}

body {
  font-family: "PT Serif", serif;
}

.banner-bg {
  height: 400px;
}

.aside-buttons > li {
  margin-bottom: 10px;
}

.border-bottom-grey {
  border-bottom: 1px solid #e6e6e6;
}
